<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.ArticleDao">
    <sql id="article">
        id,title,author,create_date,content,guru_id,upload_date,status
    </sql>
    <select id="queryAll" resultType="Article">
        select
        <include refid="article"/>
        from article limit #{start},#{pageSize}
    </select>
    <select id="findById" resultType="Article">
        select
        <include refid="article"/>
        from article where id=#{id}
    </select>
    <insert id="add" parameterType="Article">
        insert into article values (#{id},#{title},#{author},#{create_date},#{content},#{guru_id},#{upload_date},#{status})
    </insert>
    <update id="update" parameterType="Article">
        update article
        <set>
            <if test="title!=null">
                title=#{title},
            </if>
            <if test="author!=null">
                author=#{author},
            </if>
            <if test="create_date!=null">
                create_date=#{create_date},
            </if>
            <if test="content!=null">
                content=#{content},
            </if>
            <if test="guru_id!=null">
                guru_id=#{guru_id}
            </if>
            <if test="create_date!=null">
                create_date=#{create_date},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
        </set>
        where id=#{id}
    </update>
    <delete id="delete">
        delete from article where id in
        <foreach collection="array" open="(" separator="," item="id" close=")">#{id}</foreach>
    </delete>
    <select id="count" resultType="Integer">
        select count(1) from article
    </select>

</mapper>